{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
        <div class="post">

            <div class="row">
            <!--{% if request.user == post.author or user.is_superuser%}-->
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">Borrar</a>
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            <!--{% endif %}-->

                 <h1>POSTS</h1>
                    {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text|linebreaks }}</p>
            </div>
            <div class="row">
            <h1>Comentarios</h1>
                {% for comment in comments %}
                    <p>Comentado por : {{ comment.author }}</p>
                    <p>{{ comment.created_date }}</p>
                    <p>{{ comment.text }}</p>
                    <div>
                        <a id-likes="{{ comment.pk }}" class="like glyphicon glyphicon-thumbs-up " href="{% url 'comment_like' pk=comment.pk %}" ></a>
                        <p id='likecontador_{{ comment.pk }}'>{{ comment.likes }}</p>


                        <a id-dislikes="{{ comment.pk }}" class="dislike glyphicon glyphicon-thumbs-down " href="#"  ></a>
                        <p id='dislikecontador_{{ comment.pk }}'>{{ comment.dislikes }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <form method="POST" class="comment-form">
                {% csrf_token %}
                    {{ form|crispy }}
                <button type="submit" class="save btn btn-default">Save</button></form></form>
            </div>
        </div>
		<!--{% include 'blog/snippest/comments.html' %}-->
    {% endblock %}
